<section class="intro" aria-labelledby="intro-heading">
  <div class="intro__wave" aria-hidden="true">
    <img src="{{ home.layouts.introWave }}" alt="">
  </div>
  <div class="intro__inner">
    <div class="intro__text">
      <h2 id="intro-heading">Heading</h2>
      <div class="intro__body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mauris ante, tristique sit amet lorem non, tempor cursus ante. Praesent in porttitor nisi. Donec tincidunt dignissim malesuada. Donec porttitor commodo nisl sagittis efficitur. Pellentesque fermentum ipsum velit, vitae tristique lorem finibus vel. Fusce non malesuada enim, eu bibendum tortor. In non orci a dui feugiat lobortis.
        </p>
        <p>
          Pellentesque quis libero leo. Maecenas ac eros ultricies, egestas mi eget, malesuada justo. Aenean ante diam, venenatis nec pellentesque commodo, tempus vitae erat. Phasellus varius, erat mattis feugiat pretium, purus lacus scelerisque lacus, tempus dignissim justo tellus at purus. Ut dignissim tellus mi, at vestibulum nulla interdum vel. Sed augue nisl, elementum sed elit condimentum, vestibulum dapibus lectus.
        </p>
      </div>
    </div>
  </div>
</section>
